<div class="row" >
    <div class="column" *ngFor="let heroe of heroes; let i= index">
        <div *ngIf="heroe.nombre!=='Thor'">
            <div class="card">
                <img [src]="heroe.img" class="card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i}} {{heroe.nombre}}</h5>
                    <p class="card-text">{{heroe.bio}}.</p>
                    <a class="btn btn-danger" [routerLink]="['/hero', i]">More information</a>
                </div>
            </div>
        </div>
    </div>
</div>